name: docker

on:
  push:
    paths-ignore:
      - ".github/**"
    branches:
      - "main"
    tags:
      - "v*"

jobs:
  docker-build-push:
    concurrency: "build"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/islishude/bitcoin

      - name: Build and push
        uses: docker/build-push-action@v6
        id: docker-build
        with:
          push: ${{ github.event_name != 'pull_request' }}
          # Always use the latest base debian images
          pull: true
          tags: ${{ steps.docker-meta.outputs.tags }}
          labels: ${{ steps.docker-meta.outputs.labels }}
          annotations: ${{ steps.docker-meta.outputs.annotations }}
          provenance: false
          sbom: false
          target: debug
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64

      - name: Docker meta for distroless
        id: docker-distroless-meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/islishude/bitcoin
          # add suffix to the image name
          flavor: "suffix=-distroless,onlatest=true"

      - name: Build and push for distroless
        uses: docker/build-push-action@v6
        id: docker-distroless-build
        with:
          push: ${{ github.event_name != 'pull_request' }}
          pull: true
          tags: ${{ steps.docker-distroless-meta.outputs.tags }}
          labels: ${{ steps.docker-distroless-meta.outputs.labels }}
          annotations: ${{ steps.docker-distroless-meta.outputs.annotations }}
          provenance: false
          target: distroless
          sbom: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
